<h1><%= link_to "#{current_user.username.capitalize}", user_path(current_user.username) %></h1>

<h2>Shouts Page</h2>

<%= link_to "Make a Shout", new_shout_path %>

<% current_user.shouts.each do |shout| %>
  <div><%= shout.content %> &nbsp
  <%= shout.user.username %></div>
<% end %>
